<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connectionStringName" connectionString="Data Source=.; Initial Catalog=ETour; Integrated Security=True" />
    <add name="ETour.Properties.Settings.ETourConnectionString" connectionString="Data Source=.; Initial Catalog=ETour; Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ETourPro.Properties.Settings.ETourConnectionString"
      connectionString="Data Source=.; Initial Catalog=ETour; Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>